@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}
.Select-input > input {
  color: transparent;
  text-shadow: 0 0 0 #2196f3;
 }

.Select-input > input:focus {
 outline: none;
}
