@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

@layer base {
    body {
        @apply font-satoshi font-normal text-base text-body bg-whiten relative z-1;
    }
}

@layer components {}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.select__input {
    box-shadow: none !important;
}

.select__indicator-separator {
    display: none
}

.select__control--is-disabled {
    background-color: rgba(187, 187, 187, 0.566) !important;
}

// 